In [26]:
 import pandas as pd 
 import numpy as np
 import seaborn as sns

In [4]:
data_train_raw = pd.read_csv('01-data/train_raw.csv')
data_train = pd.read_csv('01-data/train.csv')
data_test_raw = pd.read_csv('01-data/test_raw.csv')
data_test = pd.read_csv('01-data/test.csv')
data_sample_submission = pd.read_csv('01-data/sample_submission.csv')

/Users/dylanlee/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (3,4,6,10,12,18,24,35,56,57,65,85,86,87,88,89,98,99,100,105,124,125,126,127,128,130,131,133,166,171,172,192,193,194,195,204,205,206,207,228,229,230,240,256,257,258,259,260,261,262) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/dylanlee/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (3,87,88,89,100,123,124,126,127,128,130,131,133,193,194,195,205,206,207,228,229,230,258,260,261,262) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/dylanlee/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (3,6,10,12,21,24,35,85,87,88,89,100,124,126,127,128,130,131,133,166,172,177,193,194,195,205,206,207,220,222,228,229,230,240,257,258,260,261,262) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [19]:
print(data_train_raw.shape)
data_train_raw.head()

(30080, 273)

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v263,v264,v265,v266,v267,v268,v269,v270,cntry,satisfied
0,9948,2,Safe,74,Austrian nfs,No second ancestry,No,No,No,No,...,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT,0
1,25601,4,Safe,58,Austrian nfs,No second ancestry,No,No,No,No,...,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT,0
2,8592,6,Safe,47,Austrian nfs,Austrian nfs,No,No,Yes,No,...,1963,1993,1995,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT,1
3,29593,Completely able,Safe,22,Austrian nfs,No second ancestry,No,No,No,No,...,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT,0
4,4252,Not at all able,Very safe,24,Austrian nfs,No second ancestry,No,No,No,No,...,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT,1

In [18]:
print(data_train.shape)
data_train.head()

(30080, 273)

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v263,v264,v265,v266,v267,v268,v269,v270,cntry,satisfied
0,9948,2,2,74,11010,.a,2,2,2,2,...,.a,.a,.a,.a,.a,.a,.a,NaN,AT,0
1,25601,4,2,58,11010,.a,2,2,2,2,...,.a,.a,.a,.a,.a,.a,.a,NaN,AT,0
2,8592,6,2,47,11010,11010,2,2,1,2,...,1963,1993,1995,.a,.a,.a,.a,NaN,AT,1
3,29593,10,2,22,11010,.a,2,2,2,2,...,.a,.a,.a,.a,.a,.a,.a,NaN,AT,0
4,4252,0,1,24,11010,.a,2,2,2,2,...,.a,.a,.a,.a,.a,.a,.a,NaN,AT,1

In [20]:
print(data_test_raw.shape)
data_test_raw.head()

(9245, 272)

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v262,v263,v264,v265,v266,v267,v268,v269,v270,cntry
0,14061,Not at all able,Very safe,63,Czech nfs,No second ancestry,No,No,Yes,No,...,NaN,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT
1,16467,5,Safe,44,Iraqi,Iraqi,Yes,No,No,Yes,...,NaN,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT
2,25725,Completely able,Safe,21,Austrian nfs,Austrian nfs,No,Yes,No,No,...,NaN,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT
3,9100,2,Safe,75,Austrian nfs,No second ancestry,No,No,No,No,...,NaN,1946,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT
4,32597,Not at all able,Very safe,22,Austrian nfs,Austrian nfs,No,No,No,No,...,NaN,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,NaN,AT

In [21]:
print(data_test.shape)
data_test.head()

(9245, 272)

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v262,v263,v264,v265,v266,v267,v268,v269,v270,cntry
0,14061,0,1,63,15020,.a,2,2,1,2,...,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,AT
1,16467,5,2,44,21070,21070,1,2,2,1,...,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,AT
2,25725,10,2,21,11010,11010,2,1,2,2,...,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,AT
3,9100,2,2,75,11010,.a,2,2,2,2,...,NaN,1946,.a,.a,.a,.a,.a,.a,NaN,AT
4,32597,0,1,22,11010,11010,2,2,2,2,...,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,AT

In [22]:
print(data_sample_submission.shape)
data_sample_submission.head()

(9245, 2)

      Id  Predicted
0  14061          0
1  16467          0
2  25725          0
3   9100          0
4  32597          0

In [23]:
9245+30080

39325

In [27]:
sns.pairplot(data_train, hue='satisfied')

ValueError: array must not contain infs or NaNs