In [1]:
# Import packages
import pandas as pd
import numpy as np
import statistics
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import pycountry_convert as pc
import lightgbm as lgb
from sklearn.linear_model import LinearRegression

# Set options
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [2]:
# Import data
train = pd.read_csv("../01-data/train.csv", low_memory = False)
test = pd.read_csv("../01-data/test.csv", low_memory = False)

# Custom data
codebook = pd.read_csv("../01-data/codebook_compact.csv", low_memory = False) # OG codebook+dtypes from codebook_long

In [16]:
train_raw = pd.read_csv("../01-data/train_raw.csv", low_memory = False)

In [5]:
train.head()

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29,v30,v31,v32,v33,v34,v35,v36,v37,v38,v39,v40,v41,v42,v43,v44,v45,v46,v47,v48,v49,v50,v51,v52,v53,v54,v55,v56,v57,v58,v59,v60,v61,v62,v63,v64,v65,v66,v67,v68,v69,v70,v71,v72,v73,v74,v75,v76,v77,v78,v79,v80,v81,v82,v83,v84,v85,v86,v87,v88,v89,v90,v91,v92,v93,v94,v95,v96,v97,v98,v99,v100,v101,v102,v103,v104,v105,v106,v107,v108,v109,v110,v111,v112,v113,v114,v115,v116,v117,v118,v119,v120,v121,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131,v132,v133,v134,v135,v136,v137,v138,v139,v140,v141,v142,v143,v144,v145,v146,v147,v148,v149,v150,v151,v152,v153,v154,v155,v156,v157,v158,v159,v160,v161,v162,v163,v164,v165,v166,v167,v168,v169,v170,v171,v172,v173,v174,v175,v176,v177,v178,v179,v180,v181,v182,v183,v184,v185,v186,v187,v188,v189,v190,v191,v192,v193,v194,v195,v196,v197,v198,v199,v200,v201,v202,v203,v204,v205,v206,v207,v208,v209,v210,v211,v212,v213,v214,v215,v216,v217,v218,v219,v220,v221,v222,v223,v224,v225,v226,v227,v228,v229,v230,v231,v232,v233,v234,v235,v236,v237,v238,v239,v240,v241,v242,v243,v244,v245,v246,v247,v248,v249,v250,v251,v252,v253,v254,v255,v256,v257,v258,v259,v260,v261,v262,v263,v264,v265,v266,v267,v268,v269,v270,cntry,satisfied
0,9948,2,2,74,11010,.a,2,2,2,2,1,1,2,2,1,0,0,66,2,2,AT33,2,2,.a,1,66,0,0,0,0,1,0,0,0,0,3,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,2,0,0,3,322,3,322,3,322,.a,.a,10,3,3,3,.a,.a,1,.a,1,1,2,2,9,1,66,2,1,3,4,3,3,2,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,5,2,1,2,3,4,2,2,0,0,1,0,3,3,3,3,2,3,6,3,2,2,2,0,0,NaN,1,1,12,2,4,4,9,25,107.0,2015,2015,4,5,3,4,1,5,3,3,2,2,3,5,2,6,5,3341,.a,1,.a,GER,0,3,2,.a,5,5,66,2,6,.a,1,1,23,20,4,4,2,2,1,1993,0,0,3,10,10,8,1,2,2,2,2,7,1,.a,1,1,.a,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,.a,1,0,2,4,2,1,3,.b,5,1,9,1,4,2015,4,0,5,10,0,2,0,3,0,1,.a,2,.a,0,0,0,0,1,8,40,40,.a,2,2,1,2,2,1941,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,AT,0
1,25601,4,2,58,11010,.a,2,2,2,2,1,2,2,2,2,0,0,66,2,2,AT31,2,2,.a,1,66,0,0,0,0,1,0,0,0,0,4,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,.a,0,0,3,322,2,212,2,212,.a,.a,12,3,2,2,.a,.a,1,.a,1,1,2,2,5,1,66,2,1,1,1,5,3,1,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,4,3,1,2,4,5,2,3,0,0,1,6,3,2,4,3,3,4,4,4,4,1,5,4,2,NaN,17,17,19,15,1,1,17,46,75.0,2015,2015,3,4,3,3,1,1,4,2,2,3,2,2,3,3,1,7132,.a,2,.a,GER,0,5,.b,.a,6,6,66,3,3,.a,1,1,25,.a,8,8,2,2,1,2014,0,0,4,4,7,3,6,.a,4,5,2,5,1,.a,1,1,.a,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,.a,0,0,3,4,2,1,5,3,8,5,8,17,1,2015,4,.b,7,7,.b,5,5,.b,1,3,2,1,1,1,0,0,0,1,3,39,39,.a,2,2,2,2,2,1957,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,AT,0
2,8592,6,2,47,11010,11010,2,2,1,2,1,.a,1,1,2,0,0,66,2,3,AT33,2,.a,.a,1,66,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,2,0,0,2,212,2,212,2,212,3,322,9,2,2,2,3,.a,1,1,1,1,4,1,2,1,66,1,1,1,1,1,3,2,NaN,NaN,NaN,NaN,1,2,2,.a,.a,.a,.a,NaN,10,2,4,2,1,1,1,3,0,0,1,5,2,3,5,2,2,3,5,2,2,2,5,3,6,NaN,18,18,17,28,3,3,16,30,50.0,2015,2015,2,5,2,1,2,5,2,2,2,2,2,5,2,5,4,9112,.d,1,.a,GER,0,4,.d,.a,1,.a,66,3,1,.a,1,1,56,1,1,8,1,2,.a,.a,1,1,3,9,8,8,2,.a,3,2,2,3,1,.a,8,1,.a,NaN,NaN,NaN,NaN,1,2,2,.a,.a,.a,.a,NaN,NaN,NaN,NaN,NaN,1,2,2,.a,.a,.a,.a,NaN,1,0,0,2,5,2,1,6,6,8,6,8,18,3,2015,4,5,9,9,8,5,6,4,5,6,.a,2,.a,0,0,0,0,1,8,30,35,40,4,2,1,2,2,1968,NaN,NaN,NaN,NaN,1963,1993,1995,.a,.a,.a,.a,NaN,AT,1
3,29593,10,2,22,11010,.a,2,2,2,2,1,2,2,2,2,0,0,66,2,10,AT12,2,.a,.a,1,66,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,2,0,0,3,322,3,322,3,322,.a,.a,6,3,3,3,.a,.a,1,.a,1,1,3,2,0,1,66,1,2,2,1,1,1,1,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,8,1,1,2,1,1,2,3,1,0,1,0,4,4,2,2,2,1,3,1,1,4,0,0,3,NaN,7,7,8,46,4,4,7,51,44.0,2015,2015,0,1,4,2,6,3,1,4,1,3,2,3,1,3,6,7231,.a,2,.a,GER,0,10,1,1,4,4,66,3,1,.a,1,1,45,.a,6,5,2,2,.a,.a,1,0,3,5,0,5,7,.a,0,0,2,6,1,.a,5,1,.a,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,.a,0,0,3,6,2,1,0,0,0,0,8,7,4,2015,4,0,0,0,0,0,0,0,0,7,.a,2,.a,0,0,0,0,2,0,40,50,.a,3,2,1,2,2,1993,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,AT,0
4,4252,0,1,24,11010,.a,2,2,2,2,1,2,2,1,1,0,0,66,1,2,AT12,2,.a,.a,1,66,0,0,0,0,1,0,0,0,0,3,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,2,0,0,4,423,3,322,3,322,.a,.a,13,5,3,3,.a,.a,1,.a,1,3,4,2,8,1,66,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,8,1,1,1,1,1,3,3,0,0,1,7,2,2,6,1,2,3,4,1,6,2,7,8,3,NaN,29,29,19,20,3,3,18,25,42.0,2015,2015,6,6,2,2,1,3,2,2,1,2,3,3,2,3,3,4311,.a,2,.a,GER,0,4,2,.a,6,6,66,3,1,.a,1,1,66,.a,6,.a,2,2,.a,.a,1,0,2,6,8,5,6,3,5,5,2,5,1,.a,5,1,.a,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,.a,0,0,3,6,1,2,9,6,8,6,8,29,3,2015,4,2,6,9,7,7,7,5,2,4,.a,2,.a,0,0,0,0,1,8,38,38,.a,1,2,1,2,2,1991,NaN,NaN,NaN,NaN,.a,.a,.a,.a,.a,.a,.a,NaN,AT,1

In [25]:
train['v5'].value_counts()

.a        19424
.d         1224
12060      1028
25070       705
11010       695
22000       631
11050       592
11030       491
.c          448
13070       407
13071       214
11070       205
15080       186
15110       184
13990       182
15111       175
.b          162
444444      146
13040       137
11031       116
11102       113
15090       111
21220       107
13060        97
11100        94
11081        92
21000        87
22011        83
21150        81
15140        77
11051        73
15020        70
12020        62
11040        57
15130        53
10000        52
21130        50
14100        50
15010        48
13075        46
15060        46
11101        43
14040        41
15040        40
11080        39
11058        36
12040        36
15120        36
13074        35
13010        32
11033        31
11020        31
22013        29
61050        28
14090        25
22012        25
14110        25
15030        25
21010        24
43020        24
23000        24
72010        23
14020        21
20000        20
12022        19
13073        18
31020        16
11032        16
12010        16
25050        15
13076        15
14120        15
12021        15
21070        13
24040        13
25080        13
41030        12
21040        11
15050        11
72050        10
21200        10
81010         9
13072         8
11077         7
12050         7
32050         7
14030         7
13030         7
42090         7
14050         7
25030         6
14010         6
61070         6
61020         6
33070         5
61060         5
80000         5
12011         5
31190         4
62020         4
61130         4
32090         4
40000         4
82010         4
21050         4
14060         3
61080         3
62080         3
11060         3
25010         3
21100         3
61100         3
41080         3
24050         3
52010         3
31070         3
41120         3
60000         3
62030         3
14070         3
51010         3
81990         3
15150         2
15093         2
42080         2
43990         2
12012         2
11022         2
31040         2
24090         2
81030         2
50000         2
62040         2
33990         2
33110         2
21190         2
61990         2
33100         1
82030         1
31990         1
25990         1
25060         1
15100         1
31170         1
33130         1
15990         1
51030         1
12000         1
62050         1
14080         1
11035         1
43000         1
71070         1
72040         1
82040         1
32100         1
52040         1
62110         1
32040         1
31120         1
12030         1
21990         1
11038         1
33030         1
52020         1
51020         1
Name: v5, dtype: int64

In [23]:
train_raw['v5'].value_counts()

No second ancestry                                 19424
No answer                                           1224
Swedish nfs                                         1028
Israeli nfs                                          705
Austrian nfs                                         695
Jewish                                               631
French nfs                                           592
British nfs                                          491
Don't know                                           448
Spanish nfs                                          407
Andalusian                                           214
German nfs                                           205
Moravian                                             186
Russian nfs                                          184
South European nec                                   182
Estonian Russian                                     175
Refusal                                              162
Not classifiable                                     146
Italian nfs                                          137
English                                              116
Swiss Canton                                         113
Polish nfs                                           111
Muslim nfs                                           107
Portuguese nfs                                        97
Swiss nfs                                             94
Irish traveller                                       92
Arab                                                  87
Ashkenazi                                             83
Palestinian                                           81
Ukrainian nfs                                         77
Breton                                                73
Czech nfs                                             70
Finnish nfs                                           62
Dutch nfs                                             57
Slovak nfs                                            53
European                                              52
Moroccan                                              50
Roma/Gypsy/Sinti                                      50
Belarusian                                            48
Galician                                              46
Lithuanian nfs                                        46
Swiss language region nec                             43
Croatian nfs                                          41
Hungarian nfs                                         40
Irish nfs                                             39
Silesian                                              36
Norwegian nfs                                         36
French city or region nec                             36
Catalan                                               35
Basque                                                32
Belgian nfs                                           31
Scottish                                              31
Mizrahi                                               29
Brazilian                                             28
Sephardi                                              25
Romanian nfs                                          25
Estonian nfs                                          25
Serbian nfs                                           25
Turkish                                               24
Algerian                                              24
Indonesian nfs                                        24
Antillais                                             23
Bosniak/Bosnian                                       21
North African, Middle Eastern and Central Asian       20
Ingrian                                               19
Canarian                                              18
Danish nfs                                            16
Northern Irish                                        16
Angolan                                               16
Swedish-speaking Finnish                              15
Navarran                                              15
Slovene nfs                                           15
Druze                                                 15
Iraqi                                                 13
Kurdish                                               13
Iranian                                               13
Indian nfs                                            12
Latvian nfs                                           11
Bedouin                                               11
Surinamese                                            10
Tunisian                                              10
American nfs                                           9
Balearic                                               8
Kosovar nfs                                            7
Bulgarian nfs                                          7
Greek nfs                                              7
German diaspora/ethnic Germans                         7
Ethiopian                                              7
Vietnamese                                             7
Sami                                                   7
Albanian nfs                                           6
Colombian                                              6
Berber                                                 6
Argentinian                                            6
Chilean                                                5
North American and Australasian                        5
Mozambican                                             5
Faroese                                                5
Egyptian                                               4
Senegalese                                             4
South and South-East Asian                             4
Somali                                                 4
Cuban                                                  4
Venezuelan                                             4
Australian nfs                                         4
Cabo Verdean                                           3
Macedonian                                             3
Moldovan                                               3
Lebanese                                               3
Mexican                                                3
North American nec                                     3
Dominican (Dominican Republic)                         3
Armenian                                               3
Tamil                                                  3
Kazakh                                                 3
Pakistani nfs                                          3
Japanese nfs                                           3
Frisian                                                3
Peruvian                                               3
Ecuadorian                                             3
Chinese nfs                                            3
Latin American                                         3
Greenlander                                            2
Tanzanian                                              2
Maritime and Muslim South-East Asian nec               2
Syrian                                                 2
Bissau-Guinean                                         2
Canadian nfs                                           2
Filipino                                               2
Sorbian/Wendish                                        2
Tatar                                                  2
Walloon                                                2
South American nec                                     2
Kashubian                                              2
Thai                                                   2
East and South African nec                             2
East Asian                                             2
Sudanese                                               1
Other North African and Middle Eastern nec             1
North European (Nordic)                                1
Nigerian                                               1
East European nec                                      1
Puerto Rican                                           1
Welsh                                                  1
Taiwanese Chinese                                      1
Haitian                                                1
West and Central African nec                           1
Arab nec                                               1
British city or region nec                             1
Singaporean Chinese                                    1
Korean                                                 1
Kenyan                                                 1
Guyanese                                               1
Montenegrin                                            1
Icelandic nfs                                          1
Maori                                                  1
Zambian                                                1
Georgian                                               1
Maritime and Muslim South-East Asian                   1
Eritrean                                               1
Tibetan                                                1
South African nfs                                      1
Ghanaian                                               1
Guatemalan                                             1
New Zealander                                          1
Ruthenian/Rusyn                                        1
Name: v5, dtype: int64